$header-font: 'Montserrat', sans-serif;
$text-font: 'Nunito', sans-serif;

$red-color: #ca312f;
$blue-color: #224280;
$text-color: #191919;
$light-color: #e9ecef;
$hover-color: #a6bce7;
$white-color: #fff;

$shadow: 0 0 20px rgba(0, 0, 0, 0.3);
$carousel-transition: 10s;


// %message-shared {
//   border: 1px solid #ccc;
//   padding: 10px;
//   color: #333;
// }